@import url("https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font: "Source Sans Pro", sans-serif;
  --secondary-font: "Herr Von Muellerhoff", cursive;
  --body-font: "Cabin", sans-serif;
  --main-font-color-dark: hsl(30, 33.3%, 4.7%);
  --secondary-font-color: hsl(36.5, 46.8%, 57.3%);
  --body-font-color: hsl(221.1, 8.3%, 55.1%);
}

html {
  color: var(--body-font-color);
  font-family: var(--body-font);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

section {
  padding: 3.9rem 0;
  overflow: hidden;
}

img {
  max-width: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.6rem;
}

.container {
  margin: 0 auto;
  padding: 0 2.4rem;
  max-width: 122.5rem;
  width: 100%;
}

/* Header */
header {
  background-image: linear-gradient(to bottom, hsl(0, 0%, 0%, 0.5),
      transparent);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7.2rem;
}

.menu-toggle {
  color: hsl(0, 0%, 100%);
  font-size: 2.2rem;
  position: absolute;
  top: 50%;
  right: 2.5rem;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1500;
}

.fa-times {
  display: none;
}

.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--main-font-color-dark);
  position: fixed;
  top: 0;
  left: 0;
  padding: 4.4rem;
  width: 80%;
  height: 100vh;
  list-style: none;
  transform: translateX(-100%);
  transition: transform 0.5s;
  z-index: 1000;
}

.nav::before {
  content: "";
  background-color: hsl(0, 0%, 0%, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.5s;
  z-index: 999;
}

.open .fa-times {
  display: block;
}

.open .fa-bars {
  display: none;
}

.open .nav-list {
  transform: translateX(0);
}

.open .nav::before {
  opacity: 1;
  transform: scale(1);
}

.nav-item {
  border-bottom: 2px solid hsl(0, 0%, 100%, 0.3);
}

.nav-link {
  display: block;
  color: hsl(0, 0%, 100%);
  font-size: 1.6rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-right: -2px;
  transition: color.5s;
}

.nav-link:hover {
  color: var(--secondary-font-color);
}

/* Hero */

.hero {
  display: flex;
  align-items: center;
  background: url("images/hero.jpg") center no-repeat;
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 100vh;
}

.logo {
  position: absolute;
  top: 0;
  width: 30rem;
  height: 30rem;
}

.sub-headline {
  color: var(--secondary-font-color);
  font-family: var(--secondary-font);
  font-size: 8.5rem;
  font-weight: 100;
  line-height: 0.4;
  letter-spacing: 0.2rem;
  -webkit-text-stroke: 0.5px hsl(345.2, 100%, 50%);
  opacity: 0;
  animation: fadeUp 0.5s forwards;
  animation-delay: 0.5s;
}

.first-letter {
  font-size: 10.3rem;
  text-transform: uppercase;
}

.headline {
  color: hsl(0, 0%, 100%);
  font-family: var(--main-font);
  font-size: 3.7rem;
  font-weight: 900;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  -webkit-text-stroke: 1px hsl(326.1, 100%, 50%);
  margin-right: -0.5rem;
  animation: scale 0.5s forwards;
}

.separator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(326.1, 100%, 50%);
  position: relative;
  max-width: 8.4rem;
  width: 100%;
  height: 0.25rem;
  opacity: 0;
  animation: grow 2s forwards;
  animation-delay: 0.9s;
}

.line-right::before,
.line-left::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 0.6rem solid transparent;
  opacity: 0;
  animation: grow 0.5s forwards;
  animation-delay: 1.2s;
}

.line-right::before {
  border-right-color: hsl(326.1, 100%, 50%);
  right: 0;
}

.line-left::before {
  border-left-color: hsl(326.1, 100%, 50%);
  left: -0.1rem;
}

.asterisk {
  color: var(--secondary-font-color);
  font-size: 1.2rem;
  margin: 0 1.6rem;
  opacity: 0;
  animation: spin 0.5s forwards;
  animation-delay: 0.7s;
}

.single-animation {
  opacity: 0;
  animation: fadeDown 0.5s forwards;
  animation-delay: 1.5s;
}

.headline-description h5 {
  color: hsl(326.1, 100%, 50%);
  font-size: 1.4rem;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  -webkit-text-stroke: 0.5px hsl(345.2, 100%, 50%);
  margin-bottom: 1.2rem;
  margin-right: -0.3rem;
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-right: -0.2rem;
}

.cta-btn {
  background-color: hsl(345.2, 100%, 50%);
  color: hsl(0, 0%, 3.1%);
  font-size: 1.1rem;
  padding: 0.9rem 1.8rem;
  border-radius: 0.4rem;
  transition: background-color 0.5s;
}

.cta-btn:hover,
.cta-btn:focus {
  color: hsl(0, 0%, 100%);
  background-color: var(--secondary-font-color);
}

/* Discover our story */
.global-headline {
  text-align: center;
  margin-top: 3.9rem;
}

.discover-our-story .global-headline {
  margin-top: 6.9rem;
}

.global-headline .asterisk {
  color: var(--body-font-color);
  margin: 2.4rem 0;
}

.headline-dark {
  color: var(--main-font-color-dark);
  letter-spacing: 0.7rem;
  margin-right: -0.7rem;
}

.global-headline .sub-headline {
  letter-spacing: -0.1rem;
  line-height: 0.42;
}

.restaurant-info {
  text-align: center;
}

.restaurant-description {
  margin-bottom: 3rem;
}

.restaurant-description p {
  line-height: 1.6;
  margin-bottom: 2.4rem;
}

.body-btn {
  color: var(--secondary-font-color);
  font-size: 1.5rem;
  position: relative;
  text-transform: uppercase;
  transition: color 0.5s;
}

.body-btn::before {
  content: "";
  background-color: var(--secondary-font-color);
  position: absolute;
  left: 0;
  bottom: -0.3rem;
  width: 100%;
  height: 0.2rem;
  transition: background-color 0.5s;
}

.body-btn:hover,
.body-btn:focus {
  color: var(--main-font-color-dark);
}

/* Tasteful recipes */
.tasteful-recipes {
  background: url("images/tasteful-recipes.jpg") center no-repeat;
  background-size: cover;
}

#banner-sub-headline {
  position: relative;
  bottom: 18rem;
}

#banner-headline {
  position: relative;
  bottom: 15rem;
}

.between {
  display: flex;
  align-items: center;
  min-height: 65vh;
}

/* Discover our menu */
.image-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
}

.discover-our-menu .restaurant-description {
  padding-top: 3rem;
  margin-bottom: 0;
}

/* The perfect blend */
.perfect-blend {
  background: url("images/perfect-blend.jpg") center no-repeat;
  background-size: cover;
}

/* Footer */
footer {
  background-color: hsl(0, 0%, 3.1%);
  color: hsl(0, 0%, 100%);
  text-align: center;
  position: relative;
  padding: 7.9rem 0;
}

.back-to-top {
  background-color: hsl(0, 0%, 3.1%);
  position: absolute;
  top: -3rem;
  left: 50%;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  transform: translateX(-50%);
}

.back-to-top i {
  display: block;
  color: hsl(0, 0%, 100%);
  font-size: 2rem;
  padding: 2rem;
  animation: up 2s infinite;
}

.footer-content {
  overflow: hidden;
}

.footer-content h4 {
  font-size: 1.9rem;
  font-weight: 100;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.footer-content .asterisk {
  margin: 2.4rem 0;
}

.footer-content-about {
  margin-bottom: 5.4rem;
}

.footer-content-about p {
  line-height: 2;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
  margin-left: 4rem;
  list-style: none;
}

.social-icons i {
  color: hsl(0, 0%, 100%);
  font-size: 2rem;
  padding: 0.8rem 2rem;
  opacity: 0.5;
  transition: color 0.5s;
}

.social-icons i:hover,
.social-icons i:focus {
  color: var(--secondary-font-color);
}

.newsletter-form {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.newsletter-input {
  padding: 1rem;
  max-width: 25rem;
  width: 100%;
  border-radius: 0.4rem;
}

.newsletter-btn {
  background-color: transparent;
  color: var(--main-font-color-dark);
  font-size: 1.6rem;
  position: absolute;
  top: 50%;
  margin-left: 10.5rem;
  padding: 0.1rem 0.6rem;
  border: none;
  transform: translateY(-50%);
  cursor: pointer;
}

small {
  font-size: 1.5rem;
  position: relative;
  top: 8rem;
}

/* Media queries */
@media screen and (min-width: 90em) and (max-width: 90em) {
  section {
    padding: 7.9rem;
  }

  .menu-toggle {
    display: none;
  }

  .nav {
    justify-content: space-between;
  }

  .nav-list {
    justify-content: initial;
    flex-direction: row;
    background-color: transparent;
    position: initial;
    padding: 0;
    width: initial;
    height: initial;
    transform: initial;
    transition: initial;
  }

  .nav-item {
    margin: 0 2.4rem;
    border: none;
  }

  .nav-item:last-child {
    margin-right: 0;
  }

  .nav-link {
    font-size: 1.3rem;
  }

  .active {
    position: relative;
  }

  .active::before {
    content: "";
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    bottom: -0.1875rem;
    left: 0;
    width: 100%;
    height: 0.125rem;
  }

  .sub-headline {
    font-size: 10rem;
  }

  .first-letter {
    font-size: 12.2rem;
  }

  .headline {
    font-size: 4.7rem;
    letter-spacing: 0.8rem;
  }

  .line {
    max-width: 11.4rem;
  }

  .restaurant-info {
    display: flex;
    align-items: center;
  }

  .restaurant-info>div {
    flex: 1;
  }

  .padding-right {
    padding-right: 7rem;
  }

  .footer-content {
    margin: auto;
    max-width: 77.5rem;
  }

  .footer-content-about {
    margin: 0 auto 5.4rem;
    max-width: 51.3rem;
  }

  .footer-content-divider {
    display: flex;
    justify-content: space-between;
  }

  .social-media,
  .newsletter-form {
    margin: 0 1rem;
    max-width: 27.3rem;
    width: 100%;
  }

  .social-icons i {
    opacity: 1;
  }

  .newsletter-btn {
    margin-left: 7.5rem;
  }
}

/* Animations */
@keyframes fadeUp {
  0% {
    transform: translateY(4rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scale {
  0% {
    transform: scale(2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes grow {
  0% {
    width: 0;
  }

  100% {
    opacity: 1;
    width: 100%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    opacity: 1;
    transform: rotate(-360deg);
  }
}

@keyframes fadeDown {
  0% {
    transform: translateY(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes up {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateY(-1rem);
  }
}